body{
    margin: 0 auto;
}
video{
    width: 100%;
    height: 100%;
}
.video-div{
    height: 250px;
}
.video-container{
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    margin-top: 0px;
}
.left-video-title{
    width: 250px;
    height: 500px;
    padding: 2px;
    float: left;
    border: #555555 solid 1px;
    background: #FFFFFF;
}
.pageNumber{
    position: absolute;
    font-size: 13px;
    right: 1px;
    bottom: 1px;
    padding: 5px;
    height:15px;
    background: #444444;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    border: #FFFFFF solid 1px;
}
.listTitle{
    overflow-x: auto;
    float: left;
    width: 250px;
    height: 247px;
    margin-top: 2px;
    background: #eeeeee;
}
.listTitle ul{
    margin: 0px;
    padding: 0px;
}
.listTitle ul li{
    text-align: left;
    padding: 5px 0 5px 0px;
    font-size: 12px;
    list-style: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-bottom: #999999 solid 1px;
    border-bottom-style: dotted;
}

.listTitle ul li a{
    display: block;
    cursor: pointer;
}
.title_div_left{
    padding: 5px;
    float: left;
    width:170px;
}
.title_div_right{
    padding: 5px 0 5px 10px;
    font-size: 11px;
    width: 40px;
    float: right;
}
.clear{
    clear: both;
}
.courseDiv{
    float: left;
    position: relative;
    width: 700px;
    height: 500px;
    background: #FFFFFF;
    border: #555555 solid 1px;
    padding: 2px;
    margin-left: 2px;
}

.audio-container{
    margin: 0 auto;
    text-align: center;
    width: 1000px;
}

.left-audio{

}
.audioCourse{
    position: relative;
    width: 700px;
    height: 544px;
    background: #FFFFFF;
    border: #555555 solid 1px;
    padding: 2px;
    margin-left: 2px;
    margin: 0 auto;
    text-align: center;
}

.audioPageNumber{
    bottom: 45px;
}

.vjs-mute-control, .vjs-volume-control{
    display: none;
}
.set-li-color{
    background-color: #cccccc;
}